@import "../../../assets/styles/mixins/mixins.scss";

.status {
  width: 100%;
  height: 24px;

  .bar {
    width: 118px;
    height: 100%;
    padding-left: 10px;
    float: right;
    @include center-direction(row);
  }
}
