@import "../../../../assets/styles/variables/variables.scss";

.search {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 16px;
    width: 324px;
    height: 46px;
    gap: 4px;
    background: $bg-search;
    border-radius: 10px; 
}